html,
body,
body > div,
.game-setup-holder,
.game-holder
    height: 100%
    min-height: 100%

html
    font-family: Roboto

body
    min-width: 1000px

    color: #fff

    background-color: $primary-color
