// Game setup
.game-setup-holder
    display: flex
    align-items: center
    justify-content: center

.game-setup__form
    width: 300px

// Game
.game-holder
    display: flex
    justify-content: center

.player-score
    position: relative

    display: flex
    align-items: center
    flex: 0 0 400px
    margin: 50px 30px

.player-score__wrapper
    flex: 1

.player-score__name
    padding: 10px 0
    margin: 0

    font-size: 20px
    font-weight: 500
    text-align: center

    border: 1px solid #fff
    border-left-width: 0
    border-right-width: 0

.player-score__vertical-divider
    position: absolute
    left: 50%

    width: 1px

    background-color: #fff

.player-score__vertical-divider,
.player-score__list-container
    height: 550px

.player-score__list
    display: flex
    flex-direction: column
    height: 100%
    padding: 0
    margin: 0

    list-style: none

.player-score__list-item
    display: flex
    flex: 1

    font-size: 36px
    line-height: 1.4

    &:not(:last-of-type)
        .player-score__score-left
            position: relative

            &::before
                position: absolute
                top: 50%
                left: 50%

                width: 50%
                height: 3px
                content: ''

                background-color: #fff

                transform: rotate(-20deg) translateX(-50%)
                transform-origin: 0

    span
        display: flex
        align-items: center
        justify-content: center
        flex: 0 0 50%
        height: 100%

.player-score__score
    transform: translateY(-100%)

.set-player-score-holder
    display: flex
    flex: 0 0 400px
    align-items: center
    justify-content: center

// Player totals
.player-totals
    display: flex
    align-items: center
    flex: 0 0 350px
    margin: 50px 30px

.player-totals__wrapper
    flex: 1
    height: 595px
    padding: 35px 30px

    background-color: #272C31

    box-sizing: border-box

.player-totals__list
    padding: 0
    margin: 0

    list-style: none

.player-totals__list-item
    display: flex
    justify-content: space-between
    padding: 15px

    font-size: 26px

    border-top: 1px solid #fff

    opacity: .5
    transition: opacity .2s
    box-sizing: border-box

    &:last-of-type
        border-bottom: 1px solid #fff

.player-totals__list-item--active
    border-bottom: 1px solid #fff

    opacity: 1

    & + .player-totals__list-item
        border-top: none

// Set player score
.set-player-score
    width: 300px
    margin: 0 auto

.score-form
    display: flex
    flex-wrap: wrap

input
    width: 100%
    height: 60px
    padding: 10px

    border: none
    border-radius: 6px

    box-sizing: border-box

.button-holder
    display: flex

button
    border-radius: 6px

    color: #fff

    background-color: $secondary-color
    border: none

    cursor: pointer

.score-button
    flex: 1
    height: 60px
    margin-top: 10px

.btn--green
    background-color: $tertiary-color